$verde: #d8f32c;
$blanco: rgb(248, 221, 221);
$gris: rgb(83, 84, 84);
$amarillo: #efef13;  
$verde_claro: rgb(131, 148, 93);
$gris_suave: rgb(205, 203, 198);
$negro_suave: rgb(34, 33, 33);
$azul_verde:aqua;